{
  "presets": [
    "env"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "sourceMaps": true
    },
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "sourceMaps": true
    }
  },
  "plugins": [
    "transform-runtime"
  ]
}
